html
  head
    title= title
    link(rel="stylesheet",href="/todomvc.css")
    script(src="https://unpkg.com/htmx.org@1.9.4")
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body(hx-target=".todoapp")
    include todos.pug
    footer(class="info")
      p Double-click to edit a todo
      p Template by
        a(href="http://sindresorhus.com") Sindre Sorhus
      p Part of
        a(href="http://todomvc.com") TodoMVC
